<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Board List</title>
</head>
<body>
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h4>자유 게시판</h4>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <a class="btn btn-primary btn-lg" href="/boards/new" role="button">글 작성하기</a>
                <a class="btn btn-primary btn-lg" href="/" role="button">홈으로</a>
            </div>
            <table class="table table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">내용</th>
                    <th scope="col">작업</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="board : ${boards}">
                    <th scope="row" th:text="${board.id}"></th>
                    <td th:text="${board.title}"></td>
                    <td th:text="${board.content}"></td>
                    <td>
                        <a class="btn btn-sm btn-warning"
                           th:href="@{/boards/{id}/edit(id=${board.id})}">수정</a>

                        <a class="btn btn-sm btn-danger"
                           th:href="@{/delete/{id}(id=${board.id})}"
                           onclick="return confirm('정말 삭제하시겠습니까?');">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination">
                    <li class="page-item" th:classappend="${boards.first} ? 'disabled'">
                        <a class="page-link" th:href="@{/boards(page=${boards.number - 1})}" tabindex="-1">이전</a>
                    </li>
                    <li class="page-item" th:each="page : ${#numbers.sequence(1, boards.totalPages)}"
                        th:classappend="${page == boards.number + 1} ? 'active'">
                        <a class="page-link" th:text="${page}"
                           th:href="@{/boards(page=${page - 1})}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${boards.last} ? 'disabled'">
                        <a class="page-link" th:href="@{/boards(page=${boards.number + 1})}">다음</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
